<div class="about-container">
    <h2>О нас:</h2>

    <p>Треск! - это уникальный проект, который объединяет талантливых актеров и режиссеров для создания незабываемых театральных постановок. Наша цель - привнести свежий взгляд на классические и современные произведения, создавая атмосферу, которая погружает зрителей в мир искусства.</p>
    <p>Мы стремимся к тому, чтобы каждый спектакль был не просто выступлением, а настоящим событием, которое оставляет след в сердцах зрителей. Наша команда работает над тем, чтобы каждая постановка была уникальной и запоминающейся.</p>
    <p>Мы верим, что театр - это не только искусство, но и способ общения с аудиторией, возможность затронуть важные темы и вызвать эмоции. Наши спектакли охватывают широкий спектр жанров и стилей, от классических трагедий до современных комедий.</p>
    <p>Присоединяйтесь к нам в этом увлекательном путешествии в мир театра! Мы рады приветствовать вас на наших спектаклях и надеемся, что вы найдете в них что-то особенное для себя.</p>
    <p>Следите за нашими новостями и анонсами на сайте и в социальных сетях, чтобы не пропустить новые постановки и события!</p>
    <p>С уважением, команда театра Треск!</p>

    <div id="gallery" class="about-gallery">

    </div>
</div>
