<div class="admin-container">
    <h1>Страница администратора</h1>
    <div class="admin-workplace">
        <div class="admin-navigation">
            <ul>
                <li><a href="#" data-view="slider">Слайдер</a></li>
                <li><a href="#" data-view="shows">Спектакли</a></li>
                <li><a href="#" data-view="gallery">Галерея</a></li>
                <li><a href="#" data-view="tickets">Билеты</a></li>
            </ul>
        </div>
        <div class="view"></div>
    </div>
</div>

