<div class="contacts-container">
    <h2>Контaкты:</h2>

    <div class="contact-us">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1279.7510298361608!2d14.468237999999998!3d50.095609!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470bed27890d0661%3A0x54101a13faf2ec17!2sDivadlo%20T%C5%99esk!5e0!3m2!1suk!2scz!4v1755789718542!5m2!1suk!2scz"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="contacts">
            <div class="feedback-mail">
                <form id="feedbackForm" class="feedback-form">
                    <label for="name">Ваше имя:</label>
                    <input type="text" id="name" name="name" required>

                    <label for="email">Ваш email:</label>
                    <input type="email" id="email" name="email" required>

                    <label for="message">Сообщение:</label>
                    <textarea id="message" name="message" rows="6" required></textarea>

                    <button type="submit">Отправить</button>
                </form>
                <ul class="contacts-social">
                    <li class="contacts-email">
                        <img src="email.svg" alt="">
                        <p>teart.tresk@gmail.com</p>
                    </li>
                    <li class="contacts-phone">
                        <img src="phone.svg" alt="">
                        <p>+420 702 235 630</p>
                    </li>
                    <li class="contacts-adress">
                        <img src="adress.svg" alt="">
                        <p>Nekvasilova 625</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
