<div class="partners">
    <h2>Наши Партнеры:</h2>

    <ul class="partners_container">
        <li class="partner">
            <a href="">
                <img src="/partners/divadlo_bez_hranic.png" alt="Divadlo bez hranic">
                <p>Divadlo bez hranic</p>
            </a>
        </li>
                <li class="partner">
            <a href="">
                <img src="/partners/divadlo_kamen.png" alt="Divadlo Kámen">
                <p>Divadlo Kámen</p>
            </a>
        </li>
                <li class="partner">
            <a href="">
                <img src="/partners/Google__logo.png" alt="Google">
                <p>Google</p>
            </a>
        </li>
                <li class="partner">
            <a href="">
                <img src="/partners/Facebook_logo.png" alt="Facebook">
                <p>Facebook</p>
            </a>
        </li>
                <li class="partner">
            <a href="">
                <img src="/partners/instagram_logo.png" alt="Instagram">
                <p>Instagram</p>
            </a>
        </li>
                <li class="partner">
            <a href="">
                <img src="/partners/linkedIn_logo.png" alt="LinkedIn">
                <p>LinkedIn</p>
            </a>
        </li>
    </ul>
</div>