footer {
    width: 100%;
    margin-top: auto;

    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px;
        color: #f0a420;
        border-top: 1px solid #4B4136;
        

        .footer-logo {
            font-size: 12px;
            color: #ACA592;
            font-family: "Old Standard TT", serif;
            margin: auto 0;
        }

        .footer-links {
            display: flex;
            gap: 20px;

            a {
                text-decoration: none;
                padding: 10px;
                border: 1px solid #f0a420;
                
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

}