@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

.title {
    color: #f0a420;
    font-family: "Old Standard TT", serif;
    font-size: 36px;
    text-align: center; 
    margin: 20px 0;
}

.show-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}

.show-card {
    border-radius: 12px;
    box-shadow: 0 2px 10px #f0a420;
    color: #f0a420;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease;
    border: 1px solid #4B4136;
}