@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

.title {
    color: #f0a420;
    font-family: "Old Standard TT", serif;
    font-size: 36px;
    text-align: center; 
    margin: 20px 0;
}